<nav class="navbar navbar-expand-md mb-4">
  <div class="container-fluid">
    <a class="navbar-brand neon_text" routerLink="/index">U.F.O</a>
    <button
      class="navbar-toggler ml-auto custom-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link neon_text" routerLink="/index">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link neon_text" routerLink="/preferences"
            >Preferences</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link neon_text" routerLink="/game">Play</a>
        </li>
        <li class="nav-item">
          <a class="nav-link neon_text" routerLink="/records">Records</a>
        </li>
      </ul>
      <div class="nav-item">
        <a
          #register
          class="btn neon_border view_collapsed"
          routerLink="/register"
          >Register</a
        >
        <a #login class="btn neon_border view_collapsed" routerLink="/login"
          >Login</a
        >
        <a
          #changePass
          class="btn neon_filled view_collapsed"
          routerLink="/profile"
          >Profile</a
        >
        <a #logOut class="btn neon_filled view_collapsed" (click)="logOutUser()"
          >Log out</a
        >
      </div>
    </div>
  </div>
</nav>
