:root {
  --clr-neon: rgb(152, 246, 255);
  --clr-bg: rgb(1, 0, 51);
}

.form-select {
  background-color: transparent;
  color: var(--clr-neon);
  box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
}

.form-signin {
  max-width: 330px;
  padding: 15px;
}

select option {
  color: var(--clr-bg);
  border: var(--clr-neon) 3px solid;
  background-color: var(--clr-neon);
  border-radius: 0.25em;
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
  box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
  transition: all 0.5s;
}
