<div id="dialog" title="Prueba"></div>
<div class="row">
  <div class="col-3">
    <a
      id="playButton"
      onclick="playPauseGame()"
      class="playButton btn neon_border"
    >
      <div id="playText">Play</div>
      <div id="time" class="points">0</div>
    </a>
    <p></p>
    <div class="playButton container_neon_border">
      <div class="neon_text_no_hover text-center">Score</div>
      <div id="points" class="neon_text points">0</div>
    </div>
  </div>
  <div class="col-8">
    <div id="board">
      <div id="jet"></div>
    </div>
  </div>
</div>
