<div class="container text-center container_neon_border">
  <div class="row justify-content-md-center">
    <h1 class="col-5 mt-5">WEB DEVELOPMENT</h1>
  </div>
  <div class="row justify-content-md-center">
    <h3 class="col-5 mt-2">U.F.O GAME</h3>
  </div>
  <div class="row justify-content-md-center">
    <h3 class="col-5 mt-5">Alejandro Vicente Pérez</h3>
    <p></p>
  </div>

  <div class="row justify-content-md-center">
    <img src="../../assets/alien.png" class="rounded float-start image" />
    <p></p>
    <p></p>
  </div>
</div>
