<div class="scroll container_neon_border">
  <p>&#32;</p>
  <p>&#32;</p>
  <div class="title neon_text">General Scores</div>
  <p>&#32;</p>
  <p>&#32;</p>
  <table
    mat-table
    [dataSource]="dataSource"
    class="container_neon_border"
    style="width: 50%"
  >
    <ng-container matColumnDef="username" class="text-center">
      <th mat-header-cell *matHeaderCellDef class="neon_text">Username</th>
      <td mat-cell *matCellDef="let element" class="neon_text">
        {{ element.username }}
      </td>
    </ng-container>

    <ng-container matColumnDef="punctuation" class="text-center">
      <th mat-header-cell *matHeaderCellDef class="neon_text">Punct.</th>
      <td mat-cell *matCellDef="let element" class="neon_text">
        {{ element.punctuation }}
      </td>
    </ng-container>

    <ng-container matColumnDef="ufos" class="text-center">
      <th mat-header-cell *matHeaderCellDef class="neon_text">Nº UFOs</th>
      <td mat-cell *matCellDef="let element" class="neon_text">
        {{ element.ufos }}
      </td>
    </ng-container>

    <ng-container matColumnDef="disposedTime" class="text-center">
      <th mat-header-cell *matHeaderCellDef class="neon_text">Disposed Time</th>
      <td mat-cell *matCellDef="let element" class="neon_text">
        {{ element.disposedTime }}
      </td>
    </ng-container>

    <ng-container matColumnDef="recordDateFormat" class="text-center">
      <th mat-header-cell *matHeaderCellDef class="neon_text">Date</th>
      <td mat-cell *matCellDef="let element" class="neon_text">
        {{ element.recordDateFormat }}
      </td>
    </ng-container>

    <tr
      mat-header-row
      *matHeaderRowDef="displayedColumns"
      class="text-center"
    ></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      class="text-center"
    ></tr>
  </table>

  <p></p>
  <p></p>

  <div #myScore class="view_collapsed">
    <div class="row">
      <div class="col-11 title neon_text">My Scores</div>
      <a #logOut class="col-1 btn neon_filled" (click)="deleteScores()"
        >Remove Scores</a
      >
    </div>

    <p></p>
    <table
      mat-table
      [dataSource]="myDataSource"
      title="My Scores"
      class="text-center container_neon_border"
      style="width: 50%"
    >
      <ng-container matColumnDef="username" class="text-center">
        <th mat-header-cell *matHeaderCellDef class="neon_text">Username</th>
        <td mat-cell *matCellDef="let element" class="neon_text">
          {{ element.username }}
        </td>
      </ng-container>

      <ng-container matColumnDef="punctuation" class="text-center">
        <th mat-header-cell *matHeaderCellDef class="neon_text">Punct.</th>
        <td mat-cell *matCellDef="let element" class="neon_text">
          {{ element.punctuation }}
        </td>
      </ng-container>

      <ng-container matColumnDef="ufos" class="text-center">
        <th mat-header-cell *matHeaderCellDef class="neon_text">Nº UFOs</th>
        <td mat-cell *matCellDef="let element" class="neon_text">
          {{ element.ufos }}
        </td>
      </ng-container>

      <ng-container matColumnDef="disposedTime" class="text-center">
        <th mat-header-cell *matHeaderCellDef class="neon_text">
          Disposed Time
        </th>
        <td mat-cell *matCellDef="let element" class="neon_text">
          {{ element.disposedTime }}
        </td>
      </ng-container>

      <ng-container matColumnDef="recordDateFormat" class="text-center">
        <th mat-header-cell *matHeaderCellDef class="neon_text">Date</th>
        <td mat-cell *matCellDef="let element" class="neon_text">
          {{ element.recordDateFormat }}
        </td>
      </ng-container>

      <tr
        mat-header-row
        *matHeaderRowDef="displayedColumns"
        class="text-center"
      ></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        class="text-center"
      ></tr>
    </table>
  </div>
</div>
