:root {
  --clr-neon: rgb(152, 246, 255);
  --clr-neon_error: rgb(255, 95, 95);
  --clr-bg: rgb(1, 0, 51);
}

body {
  width: 100%;
  overflow: hidden;
  background: url("assets/space.jpg");
  background-size: cover;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1), inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}

.image {
  width: auto;
  height: 200px;
}

.container_neon_border {
  color: var(--clr-neon) !important;
  border: var(--clr-neon) 3px solid;
  background-color: transparent !important;
  border-radius: 0.25em;
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor !important;
  box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
  transition: all 0.5s;
}

.neon_border {
  color: var(--clr-neon);
  border: var(--clr-neon) 3px solid;
  background-color: transparent;
  border-radius: 0.25em;
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
  box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
  transition: all 0.5s;
}

.neon_border:hover {
  background-color: var(--clr-neon);
  color: var(--clr-bg);
}

.neon_filled {
  color: var(--clr-bg);
  border: var(--clr-neon) 3px solid;
  background-color: var(--clr-neon);
  border-radius: 0.25em;
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
  box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
  transition: all 0.5s;
}

.neon_filled:hover {
  background-color: transparent;
  color: var(--clr-neon);
}

.neon_text {
  color: var(--clr-neon);
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
  transition: all 0.5s;
}
.neon_text_no_hover {
  color: var(--clr-neon);
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
  transition: all 0.5s;
}

.neon_text_error {
  color: var(--clr-neon_error);
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
  transition: all 0.5s;
}

.neon_text:hover {
  color: #fff;
  text-shadow: 0 0 1em rgb(255, 255, 255), 0 0 1em currentColor;
}

.neon_text:focus {
  color: #fff;
  text-shadow: 0 0 0.8em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-dialog-container {
  color: var(--clr-neon) !important;
  border: var(--clr-neon) 3px solid;
  background-color: transparent !important;
  border-radius: 0.25em;
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor !important;
  box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
  transition: all 0.5s;
}
